
.header {
    margin: 10px;
    background: salmon;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
}

.coursename {
    margin: 10px;
    background-color: darksalmon;
    color: #302f2f;
    padding: 9px 13px;
    text-align: center;
    font-size: 1.2em;

}

h1 {
    margin: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

h2 {
    margin:10px;
    font-weight: bold;
    font-size: 1.3em;
}

p {
    margin: 10px;
    color: #302f2f;
    background-color:snow;
    font-size: 1.1em;
    font-family: helvetica, sans-serif;
    padding: 0.5em; 
}

body {
    margin: 10px;
    color: #302f2f;
    background-color:snow;
    font-size: 1.1em;
    border-bottom: 4px solid #999999;
    font-family: helvetica, sans-serif;
    padding: 0.5em; 
}

.buttons {
    margin: 10px;
    display:flex;
    border: none;
    border-radius: 6px;
    padding: 7px 11px;
    text-align: center;
    font-size: 16px;
}

button {
    margin: 10px;
    margin-right: 10px;
    background-color: mistyrose;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

a {
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #302f2f;
    background-color: darksalmon;
    padding: 8px 12px;
    text-align: center;
}