
.header {
    background: salmon;
    font-weight: bold;
    padding-bottom: 0.4em;
    font-size: 2em;
}

.coursename {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    background-color: darksalmon;
    color: #302f2f;
    padding: 9px 13px;
    text-align: center;
    font-size: 1.2em;

}

h1 {
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

h2 {
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

p {
    color: #302f2f;
    background-color:snow;
    font-size: 1.1em;
    font-family: helvetica, sans-serif;
}

body {
    margin: 10px;
    color: #302f2f;
    background-color:snow;
    font-size: 1.1em;
    border-bottom: 4px solid #999999;
    font-family: helvetica, sans-serif;
    padding: 0.5em; 
}

form{
    font-size: 1.1em;
    font-family: helvetica, sans-serif;
}

.buttons {
    display:flex;
}

button {
    margin-right: 10px;
    margin-top: 10px;
    background-color: mistyrose;
    border: none;
    border-radius: 6px;
    padding: 7px 11px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

a {
    border-radius: 6px;
    color: #302f2f;
    background-color: darksalmon;
    padding: 7px 11px;
    text-align: center;
}