<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>

<div class="header">
    <h1>Hei {{ session.username }}!</h1>
</div>

<body>
    <h2>Omat kurssit:</h2>
    <br>
    {% for course in joined %}
        <div class="coursename">
            <a href="/courses/{{course.coursename}}">{{course.coursename}}</a>
        </div>
        <form action="/leave_course" method="POST">
            <input type="hidden" name="coursename" value="{{course.coursename}}"></p>
            <button type="submit">Poistu kurssilta</button>
        </form>
        <hr>
    {% endfor %}
    
    <h2>Lista kaikista kursseista:</h2>
    <br>
    {% for course in courses %}
        <div class="coursename">
            <a href="/courses/{{course.coursename}}">{{course.coursename}}</a>
        </div>
   
        <form action="/join_course" method="POST">
            <input type="hidden" name="coursename" value="{{course.coursename}}"></p>
            <button type="submit">Liity kurssille</button>
        </form>

        <hr>
    {% endfor %}

    <p>Kurssien määrä: {{ count }}</p>

    <a href="/logout">Kirjaudu ulos</a>
</body>
