<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>

<body>
    <h2>Kurssin nimi: {{coursename}}</h2>
    <h2> Kurssin teoria: </h2>
    <p> 
        {% for line in theory %}
            {{ line }} 
        {% endfor %} 
    </p>

    <form action="/edit_coursename" method="POST">
        Kurssin nimi:
        <br>
        <input type="text" name="coursename">
        <br>
        Kurssimateriaali:
        <br>
        <textarea rows = "5" cols = "50" name = "theory" ></textarea>
        <input type="hidden" name="theory" value="{{theory}}">
        <input type="hidden" name="courses_id" value="{{courses_id}}">
        <button type="submit">Muokkaa kurssia</button>

    </form>
    <a href="/teachercourses">Takaisin</a>
</body>