<title>Etusivu</title>
<h1>Etusivu</h1>
<p>Tervetuloa opetussovellukseen!</p>


<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>

<form action="/register" method="POST">
<p>Tunnus:<br>
<input type="text" name="username" required minlength="4" maxlength="15"></p>
<p>Salasana:<br>
<input type="password" name="password" required minlength="4" maxlength="15"></p>
<p>Opettaja vai oppilas:<br>
<input type="radio" name="user_type" value="opettaja"> Opettaja
<input type="radio" name="user_type" value="opiskelija"> Oppilas
</p>>
<input type="submit" value="Luo tunnus">
</form>
