<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>

<div class="header">
    <h1>Hei {{ session.username }}!</h1>
</div>

<body>
    <h2>Omat kurssit:</h2>
    {% for courses_id, coursename in courselist %}
       
    <div class="coursename">
        <a href="/courses/{{coursename}}">{{coursename}}</a>
    </div>
    <div class="buttons">

        <form action="/new_exercise" method="POST">
            <input type="hidden" name="coursename" value="{{coursename}}">
            <input type="hidden" name="courses_id" value="{{courses_id}}">
            <button type="submit">Lisää tehtävä</button>
        </form> 

        <form action="/delete_course" method="POST">
            <input type="hidden" name="coursename" value="{{coursename}}">
            <input type="hidden" name="courses_id" value="{{courses_id}}">
            <button type="submit">Poista kurssi</button>
        </form>

        <form action="/edit_course" method="POST">
            <input type="hidden" name="coursename" value="{{coursename}}">
            <input type="hidden" name="courses_id" value="{{courses_id}}">
            <button type="submit">Muokkaa kurssia</button>
        </form> 

        <form action="/participants" method="POST">
            <input type="hidden" name="coursename" value="{{coursename}}">
            <input type="hidden" name="courses_id" value="{{courses_id}}">
            <button type="submit">Näytä osallistujat</button>
        </form>
    </div>   
    {% endfor %}


    <h2>Kurssien määrä: {{ count }}</h2>
    <a href="/newcourse">Luo uusi kurssi</a>
    <a href="/logout">Kirjaudu ulos</a>
</body>